# _config.yml
title: "Data & Biology Portfolio"
description: "Bioinformatics portfolio showcasing projects and technical writings"
baseurl: "/portfolio"
url: "https://ataulhaleem.github.io"
github_username: ataulhaleem

# Use a GitHub Pages compatible theme
remote_theme: pages-themes/minimal@v0.2.0

# Or use one of these built-in themes:
# remote_theme: pages-themes/cayman@v0.2.0
# remote_theme: pages-themes/hacker@v0.2.0
# remote_theme: pages-themes/midnight@v0.2.0

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:path/

# Defaults
defaults:
- scope:
    path: ""
    type: "posts"
  values:
    layout: "default"
- scope:
    path: ""
    type: "projects"
  values:
    layout: "default"
