title: "Data & Biology Portfolio"
description: "Bioinformatics portfolio showcasing projects and technical writings"
url: "https://ataulhaleem.github.io"
baseurl: "/portfolio"
github_username: ataulhaleem
email: ataulhaleem@gmail.com

theme: minima

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:path/
  posts:
    output: true

# Build settings
plugins:
  - jekyll-feed

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: ""
      type: "projects"
    values:
      layout: project
