name: Jekyll site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the site
      run: |
        gem install bundler
        bundle install
        bundle exec jekyll build -d _site
    - name: Test the built site
      run: |
        cd _site
        ls -la
